
*
{
	border:0;
	padding:0;
	
}

body
{
	text-align:center;
	font-size:8pt;
	font-family: Verdana,Arial, Helvetica, sans-serif, "bitstream vera sans";
	color:#515151;
	background: url(images/bggradient.jpg) no-repeat;
	background-color: #E5FFFF;
	 background: -webkit-linear-gradient( #FFE13C, #E5FFFF);
	 padding-bottom: 150px;
}

a
{
	color:#66ff00;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

img
{
	border: 0;
}

#container
{
	width:1024px;
	margin-left:auto;
	margin-right:auto;
}

#top{
	
	height:115px
}

#navbar
{
	float:right;
	text-align:right;
}

#leftcontent
{
	float:left;
	text-align: left;
	width:650px;
}

#rightcontent
{
	float:left;
	width:324px;
}

h1,h2,h3,h4
{

font-weight: lighter;
font-family: "Segoe UI";
}
h1{
	font-size:2.7em;
}
h2{
	font-size:2.3em;
}
h3{
	font-size:2.0em;
}
h4{
	font-size:1.7em;
	font-weight:bold;
	font-family; 
	float left;
}

h1.header
{
	font-size:3em;
	margin-left: 10px;
	margin-top: 10px;
	float: left; 
}

p
{
	word-spacing: 4px;
	line-height: 1.5em;
	}

.imgfloatleft
{
	border:1px solid gray;;
	float:left;
	margin:15px;
}
.imgfloatright
{
	border:2px solid gray;;
	float:right;
	margin:15px;
}

#navul
{
	margin: 0 auto;
	letter-spacing: -1px;
	width: 549px;
	height: 50px;
	list-style-type: none;
	list-style-image: none;
}

#navul li
{
	
	float: right;
	height: 50px;
	width: 100px;
	list-style-type: none;
	list-style-image: none;
}

#navul a
{
	color: #ffa500;
	text-decoration:none;
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

#navul a:hover
{
	background:#707070;
	color:white;
}

#navul a.selected
{
	background:#3D5AFF;
	color:#ffa500;
}

#picturelist
{
	list-style-type: none;
	list-style-image: none;
}
#picturelist li
{
	padding-top:35px;
	list-style-type: none;
	list-style-image: none;
}
#picturelist li a img
{

	border:1px solid;
	display:block;
	margin:0 auto 5px auto;
}

#picturelist li a 

{
	color:#515151;
	text-decoration:none;
}

#picturelist li a:hover
{
	color:#ffa500;
	text-decoration:none;
}

#myfont, span{
	font-size:1.5em;
	
	}



span{
	font-size: 1.3em;
	color: green;
}

#footer{
	
	 background-color:blue;
    color:white;
    clear:both;
    text-align:center;
   padding:10px;
   margin-bottom: 50px;
   font-size: 1.4em;

}

#footer2{
	
	 
    color:blue;
    clear:both;
    text-align:center;
   padding:10px;
   margin-bottom: 0px;
  	
}

#uber{
	 position: absolute;
     right: 100px;
     top: 728px;
     z-index: -1;

}

#angry{
	 position: absolute;
    right: 450px;
    top: 728px;
    z-index: -1;
}

#microsoft{
	 position: absolute;
   	 right: 1150px;
     top: 728px;
     z-index: -1;
}


#twitter{
	 position: absolute;
    left: 0px;
    top: 100px;
    z-index: -1;
}

#flappy{
	 position: absolute;
     right: 750px;
    top: 728px;
    z-index: -1;
}